.pantalla {
    margin: 10px;
    height: 40px;
    border: 2px solid var(--terciario);
    background-color: var(--principal);
    font-size: 1.5em;
    text-align: right;
    padding-right: 10px;
}

@media screen and (max-width: 330px) {
    .pantalla {
        font-size: 1em;
    }
  }