:root {
  /* PALETA DE COLORES */
  --principal: #334257;
  --secundario: #476072;
  --terciario: #548CA8;
  --cuaterciario: #EEEEEE;
  --quinto: #F5CCE8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: var(--principal);
  color: var(--cuaterciario);
  text-align: center;
}

.App {
  margin: auto;
  width: 500px;
  display: flex;
}

.calculadora {
  margin-top: 10px;
  background-color: var(--secundario);
  border: 1px solid var(--cuaterciario);
  flex: 1 1;
  border-radius: 10px;
}

.calculadora_fila {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pantalla {
  flex: 1 1; 
}

footer {
  text-align: center;
  position: fixed;
  bottom: 2%;
}

.link {
  color: var(--cuaterciario);
}

@media screen and (max-width: 525px) {

  .App {
    width: 95%;
  }
}

@media screen and (max-width: 330px) {
  .App {
    width: 100%;
  }
}